[DEFAULT]
ExcludedProductTokens=
WsApiUrl=https://saas.whitesourcesoftware.com/api/v1.3
UserKey=
OrgToken=
DryRun=True
DaysToKeep=60
Reports=inventory_report.xlsx, vulnerability_report.xlsx, source_file_inventory_report.xlsx, alerts_report.xlsx, due_diligence_report.xlsx, bugs_report.xlsx, ignored_alerts_report.xlsx, resolved_alerts_report.xlsx, request_history_report.xlsx, in_house_report.xlsx,license_compatibility_report.xlsx
ArchiveDir=
ProjectParallelismLevel=20