[DEFAULT]
ExcludedProductTokens=""
WsUrl=https://saas.whitesourcesoftware.com
UserKey=
OrgToken=
DryRun=False
SkipReportGeneration=False
DaysToKeep=60
Reports=inventory_report.xlsx, vulnerability_report.xlsx, source_file_inventory_report.xlsx, alerts_report.xlsx, due_diligence_report.xlsx, bugs_report.xlsx, ignored_alerts_report.xlsx, resolved_alerts_report.xlsx, request_history_report.xlsx, in_house_report.xlsx,license_compatibility_report.xlsx
ReportsDir=
ProjectParallelismLevel=5
